.App-header {
  position: relative;
  height: 100vh; 
  background-color: #DCDCDE;
  color: white;
  text-align: center;
  padding-top: 50px; 
}


.App-logo {
  position: absolute;
  top: 0;
  left: 0;
 max-width: 200px;
  padding: 30px;
  display: block;
}